@charset "UTF - 8";
/* MAIN - S */
.sub-visual{background:  center / cover no-repeat url(/portfolio/img/subVisual_map.jpg);}
.sec-header{display: flex; flex-direction: column; align-items: center;}
.store-search{
  display: flex; justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #ff4d00; border-bottom: 1px solid #ff4d00;
  font-size: 18px;
}
.store-search ul{display: flex;}
.store-search ul li{
  display: flex; align-items: center;
  margin-left: 30px; 
}
.store-search ul li input{
  width: 20px; height: 20px;
  margin-right: 10px;   
}
.store-search form{
  display: flex; align-items: center;
  width: 500px;
}
.store-search form fieldset{
  display: block;
  margin-right: 20px;
}
.store-search form input{
  display: block;
  width: 300px; height:35px;
  padding: 10px 15px;
  border:1px solid #bbb;
}
.store-search form button{
  display: block;
  width: 70px; height:35px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #ff4d00;
}
.store-map{
  display: flex; justify-content: center;
  margin-bottom: 110px; padding-top: 70px;
}
.store-map .map{
  display: flex; flex-direction: column; justify-content: space-between;
  height: 520px;
  margin-right: 50px;
  position: relative; 
}
.store-map .map figure {display: flex; justify-content: center;}
.store-map .map figure img{
  display: block;
  width: 290px; height: 400px;
}
.store-map .map .map-bt{display: flex;}
.store-map .map .map-bt li{
  display: flex; align-items: center; justify-content: center;
  width: 34px; height: 34px;
  border-radius: 17px;
  font: 14px; font-weight: 500; color: #fff;
  background-color: #999;
  cursor: pointer;
  position: absolute; left: 0; top: 0;
}
.store-map .map .map-bt li:nth-child(1){left: 15%; top: 12%;}
.store-map .map .map-bt li:nth-child(2){left: 35%; top: 8%;}
.store-map .map .map-bt li:nth-child(3){left: 60%; top: 8%;}
.store-map .map .map-bt li:nth-child(4){left: 35%; top: 18%;}
.store-map .map .map-bt li:nth-child(5){left: 50%; top: 22%;}
.store-map .map .map-bt li:nth-child(6){left: 25%; top: 30%;}
.store-map .map .map-bt li:nth-child(7){left: 37%; top: 26%;}
.store-map .map .map-bt li:nth-child(8){left: 40%; top: 33%;}
.store-map .map .map-bt li:nth-child(9){left: 65%; top: 28%;}
.store-map .map .map-bt li:nth-child(10){left: 30%; top: 42%;}
.store-map .map .map-bt li:nth-child(11){left: 60%; top: 36%;}
.store-map .map .map-bt li:nth-child(12){left: 78%; top: 43%;}
.store-map .map .map-bt li:nth-child(13){left: 55%; top: 47%;}
.store-map .map .map-bt li:nth-child(14){left: 30%; top: 50%;}
.store-map .map .map-bt li:nth-child(15){left: 18%; top: 57%;}
.store-map .map .map-bt li:nth-child(16){left: 70%; top: 53%;}
.store-map .map .map-bt li:nth-child(17){left: 20%; top: 72%;}
.store-map .map .map-bt li:last-child{
  width: 60px; height: 35px;
  border-radius: 10px;
  top: auto; bottom: 120px; left:auto; right: 30px;
}
.store-map .map .map-bt li:hover{background-color: #ff4d00;}
.store-map .map .map-bt li.on{background-color: #ff4d00;}
.store-map-list > ul{display: none;}
.store-map-list > ul.on{display: block;}
.store-map .map p{
  width: 360px; height: 46px; 
  font-weight: 200;  color: #555; line-height: 46px; text-align: center;
  background-color: #f9f9f9;
}
.store-map-list{
  display: flex; flex-direction: column;
  width: 700px;
}
.store-map-list > strong span{color: #ff4d00;}
.store-map-list > li{
  display: flex; align-items: center;
  width: 700px;
  margin-bottom: 5px;
  border: 1px solid #bbb;
}
.store-map-list ul li{display: none;}
.store-map-list ul li.on{display: flex;}
.store-map-list li::before{
  content: "";
  display: block;
  width: 13px; height: 17px;
  padding: 0 30px;
  background: center / contain no-repeat url(/portfolio/img/ico_location.png);
}
.store-map-list li div strong{
  margin-bottom: 10px;
  font-weight: 600;
}
.store-map-list li div address{font-size: 14px; color: #999;}
.store-map-list li button{
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  width: 82px; height: 82px;
  border: 1px solid transparent;
  cursor: pointer;
}
.store-map-list li button::before{
  content: "";
  display: block;
  width:30px ; height: 30px;
  background:  center / contain no-repeat url(/portfolio/img/hsearch_off.png);
}
.store-map-list li .modal-box{display: none;}
.store-map-list li button:hover{background-color: #f87238;}
.store-list-bt{
  display: flex; justify-content: center;
  width: 100%;
}
.store-list-bt a{display: flex; justify-content: space-between;}
.store-list-bt .pre::before{
  content: "";
  display: block;
  width: 7px; height: 14px;
  padding: 0 10px;
  background: center / contain no-repeat url(/portfolio/img/ico_pageFirst.png);
}
.store-list-bt .next::after{
  content: "";
  display: block;
  width: 7px; height: 14px;
  padding: 0 10px;
  background: center / contain no-repeat url(/portfolio/img/ico_pageLast.png);
}
.store-list-bt span{display: none;}
